.installed.cfg
*.py[cod]
*$py.class
*.so
*.egg-info
*.egg-info/
*.egg
.eggs/
.Python
__pycache__/
build/
develop-eggs/
dist/
eggs/
share/python-wheels/
wheels/

pyspectre/__pycache__/
pyspectre/*.py[cod]
pyspectre/*$py.class

*.raw
*.log
